.container.d-flex.flex-column
            .header.d-flex.flex-column.justify-content-between.align-items-center
                nav.topmenu.d-flex.justify-content-center
                    a(href="#about") About
                    .line.align-self-center
                    a(href="#premium") Premium
                    .line.align-self-center
                    a(href="https://doggobot.fun/support/") Join
                .server-info.d-flex.align-items-center.flex-column.text-center
                    h1 Doggo Bot
                    a.links-suppressor.join-btn.btn-pill.white(href="https://doggobot.fun/invite/") Invite Bot
                    
            .inner.d-flex.flex-column
                section#about.d-flex.justify-content-between.flex-lg-nowrap.flex-wrap
                    .image.image1(style="flex-grow: 1")
                    .text
                        h2 About Doggo
                        p
                            b Doggo
                            | &nbsp;is a simple yet versatile Discord bot to assist you in server management. Making professional and high-quality Discord servers takes lots of time and effort. Hours of creating roles, channels, and informational texts. But what if you could do all that in less than 30 seconds? Introducing: Doggo. Doggo is a very simple yet powerful Discord bot built to assist in creating and maintaining Discord servers. With tools such as channel and role creation, as well as announcements and informational text templates, making a Discord server has never been easier. Additionally, Doggo provides moderator commands to help ensure the safety of your servers. Fun commands and additions such as leveling, currency, image manipulation, and more will help keep your server members engaged and active. With incredibly fast speed and performance, what's there not to be excited for?
                            br
                            br
                            b Doggo has many unique and useful features available for use:
                            br
                        ul
                            li Server Setup (channels, categories, etc.)
                            li Moderation features (warn, kick, ban, mod-logs, etc.)
                            li Informational Texts (rules, announcements, welcome, etc.)
                            li Currency and Leveling System
                            li User Informational Cards
                            li Image Manipulation
                            li And many more useful commands!
                section.discord-widget
                    iframe.d-flex(src="https://discordapp.com/widget?id=451459061280669700&theme=dark",
                        allowtransparency="true",
                        frameborder="0")
                    
                section#premium.d-flex.justify-content-between.flex-lg-nowrap.flex-wrap.flex-row-reverse
                    .image.image2(style="flex-grow: 1")
                    .text
                        h2 Doggo Premium
                        p
                            b Doggo Premium
                            | &nbsp; is much more feature-packed and exclusive than the free version of Doggo. Since hosting Doggo isn't free, we've created a premium version with exclusive features that can be purchased. When obtained, you'll gain access to our exclusive donator-only commands, as well as recognition in our official Discord server. Your support is greatly appreciated!
                            br
                            br
                            b Doggo Premium includes many exclusive features such as
                            br
                        ul
                            li Music Compatability
                            li Exclusive Server Templates & Informational Texts
                            li Premium 24/7 Support
                            li Access to Beta features
                            li Exclusive Recognition and Rank
                            li And more coming soon...
                            
                section.join.d-flex.justify-content-center
                    .line.align-self-center(style="flex-grow: 1")
                    a.links-suppressor.btn-pill.white(href="https://doggobot.fun/support") Support Server
                    .line.align-self-center(style="flex-grow: 1")
                            
            .footer.d-flex.justify-content-between.flex-lg-nowrap.flex-wrap
                .d-flex
                    .block.d-flex.flex-column.justify-content-between
                        h3.d-flex Developers
                        span DogV2#0001
                        span shaan#3734
                    .block.d-flex.flex-column.justify-content-between
                        h3.d-flex Support
                        span DogV2#0001
                        span shaan#3734
                    
                p.align-self-end Doggo is a simple yet versatile Discord bot made to help manage your Discord server. From server setup to moderation and fun commands, what's there not to be excited about? Doggo provides the best for you and your Discord server. Built by Dog#0001 and shaan#3734.